# ConIndVar

- Concat Independent Variable
- 독립변수 합치기

- 대상 변수: 사용할 변수 목록.xlsx 참고


해야할 일

1. 결측값 대치
    1. 안 하기! XGBoost는 결측값에 강건하다
    2. missingpy 라이브러리의 missforest 사용
    3. xgbimputer 라이브러리 쓰기!
        - 이 방법 쓰려면 좀 복잡할듯
    4. 원래 하던대로 하기(최빈값, 평균값 등등)

2. 이상치 제거...?
    1. 한다
    2. 안 한다

3. 데이터 가공하기. 고혈압 여부 등

In [37]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import rc

# 기본 글꼴을 D2Coding ligature으로 변경
rc("font", family="D2Coding ligature")

In [38]:
print(plt.rcParams['font.family'])

['D2Coding ligature']

- 원본 데이터 불러오기

- GH_9622 데이터셋 기준으로 인덱스 조정해야함.

In [39]:
AS1_01_EXAMINEE = pd.read_csv("./Dataset/raw/AS1_01_EXAMINEE.csv", index_col=0, encoding='utf-8', low_memory=False)
AS1_02_GEN = pd.read_csv("./Dataset/raw/AS1_02_GEN.csv", index_col=0, encoding='utf-8', low_memory=False)
AS1_03_DRSM = pd.read_csv("./Dataset/raw/AS1_03_DRSM.csv", index_col=0, encoding='utf-8', low_memory=False)
AS1_04_ACTIVE = pd.read_csv("./Dataset/raw/AS1_04_ACTIVE.csv", index_col=0, encoding='utf-8', low_memory=False)
AS1_05_MEDIC = pd.read_csv("./Dataset/raw/AS1_05_MEDIC.csv", index_col=0, encoding='utf-8', low_memory=False)
AS1_06_DISEASE = pd.read_csv("./Dataset/raw/AS1_06_DISEASE.csv", index_col=0, encoding='utf-8', low_memory=False)
AS1_07_TREAT = pd.read_csv("./Dataset/raw/AS1_07_TREAT.csv", index_col=0, encoding='utf-8', low_memory=False)
AS1_08_DRUG = pd.read_csv("./Dataset/raw/AS1_08_DRUG.csv", index_col=0, encoding='utf-8', low_memory=False)
AS1_13_SLEEP = pd.read_csv("./Dataset/raw/AS1_13_SLEEP.csv", index_col=0, encoding='utf-8', low_memory=False)
AS1_16_DIET = pd.read_csv("./Dataset/raw/AS1_16_DIET.csv", index_col=0, encoding='utf-8', low_memory=False)
AS1_17_FFQWEIGHT = pd.read_csv("./Dataset/raw/AS1_17_FFQWEIGHT.csv", index_col=0, encoding='utf-8', low_memory=False)
AS1_18_BIOCHEM = pd.read_csv("./Dataset/raw/AS1_18_BIOCHEM.csv", index_col=0, encoding='utf-8', low_memory=False)
AS1_19_ANTHRO = pd.read_csv("./Dataset/raw/AS1_19_ANTHRO.csv", index_col=0, encoding='utf-8', low_memory=False)
GH = pd.read_csv("./Dataset/raw/GH_9622.csv", index_col=0, encoding='utf-8', low_memory=False) # 경훈이가 가공해준 식이패턴 데이터

In [40]:
print(len(AS1_01_EXAMINEE), len(GH))

10030 9622

In [41]:
mask = AS1_01_EXAMINEE.index.isin(GH.index)

AS1_01_EXAMINEE = AS1_01_EXAMINEE[mask]
AS1_02_GEN = AS1_02_GEN[mask]
AS1_03_DRSM = AS1_03_DRSM[mask]
AS1_04_ACTIVE = AS1_04_ACTIVE[mask]
AS1_05_MEDIC = AS1_05_MEDIC[mask]
AS1_06_DISEASE = AS1_06_DISEASE[mask]
AS1_07_TREAT = AS1_07_TREAT[mask]
AS1_08_DRUG = AS1_08_DRUG[mask]
AS1_13_SLEEP = AS1_13_SLEEP[mask]
AS1_16_DIET = AS1_16_DIET[mask]
AS1_17_FFQWEIGHT = AS1_17_FFQWEIGHT[mask]
AS1_18_BIOCHEM = AS1_18_BIOCHEM[mask]
AS1_19_ANTHRO = AS1_19_ANTHRO[mask]

In [42]:
VAR_TO_USE = pd.read_csv("./Docs/var_to_use_2024-04-18-1730I.csv")
VAR_TO_USE

               binary            cnt      cath0        cath1
0             AS1_SEX        AS1_AGE   AS1_JOBB     AS1_EDUA
1            AS1_TIED     AS1_MARRYA  AS1_DRINK   AS1_SMOKEA
2    HAS_HYPERTENSION     AS1_INCOME        NaN  AS1_PHYACTL
3        HAS_DIABETES     AS1_TOTALC        NaN  AS1_PHYACTM
4   HAS_HYPERLIPIDEMI     AS1_HVSMAM        NaN  AS1_PHYACTH
5         AS1_SLPAMSF  AS1_RGMEALFQA        NaN   AS1_HEALTH
6                 NaN        HOMA_IR        NaN          NaN
7                 NaN      WAIST_AVG        NaN          NaN
8                 NaN            BMI        NaN          NaN
9                 NaN         KHEI90        NaN          NaN
10                NaN           AMED        NaN          NaN
11                NaN    AMED_NONALC        NaN          NaN
12                NaN           DASH        NaN          NaN
13                NaN           PRAL        NaN          NaN
14                NaN           NEAP        NaN          NaN
15                NaN            DII        NaN          NaN

In [43]:
VAR_DF = pd.read_csv("./Docs/var_list.csv")
VAR_DF

,테이블명,변수명,변수명 변환,변수 유형,사용여부,가공여부
0,AS1_01_EXAMINEE,AS1_Sex,AS1_SEX,binary,NaN,NaN
1,AS1_01_EXAMINEE,AS1_Age,AS1_AGE,cnt,NaN,NaN
2,AS1_02_GEN,AS1_MarryA,AS1_MARRYA,cnt,NaN,NaN
3,AS1_02_GEN,AS1_JobB,AS1_JOBB,cath0,NaN,NaN
4,AS1_02_GEN,AS1_EduA,AS1_EDUA,cath1,NaN,NaN
5,AS1_02_GEN,AS1_Income,AS1_INCOME,cnt,NaN,NaN
6,AS1_03_DRSM,AS1_Drink,AS1_DRINK,cath0,NaN,NaN
7,AS1_03_DRSM,AS1_TotAlc,AS1_TOTALC,cnt,NaN,NaN
8,AS1_03_DRSM,AS1_SmokeA,AS1_SMOKEA,cath1,NaN,NaN
9,AS1_03_DRSM,AS1_HvSmAm,AS1_HVSMAM,cnt,NaN,NaN
10,AS1_04_ACTIVE,AS1_PhyActL,AS1_PHYACTL,cath1,NaN,NaN
11,AS1_04_ACTIVE,AS1_PhyActM,AS1_PHYACTM,cath1,NaN,NaN
12,AS1_04_ACTIVE,AS1_PhyActH,AS1_PHYACTH,cath1,NaN,NaN
13,AS1_05_MEDIC,AS1_Health,AS1_HEALTH,cath1,NaN,NaN
14,AS1_05_MEDIC,AS1_Tied,AS1_TIED,binary,NaN,NaN
15,AS1_06_DISEASE,고혈압여부,HAS_HYPERTENSION,binary,NaN,o
16,AS1_06_DISEASE,당뇨여부,HAS_DIABETES,binary,NaN,o
17,AS1_06_DISEASE,고지혈증,HAS_HYPERLIPIDEMI,binary,NaN,o
18,AS1_13_SLEEP,AS1_SlpAmSf,AS1_SLPAMSF,binary,NaN,NaN
19,AS1_16_DIET,AS1_RgMealFqA,AS1_RGMEALFQA,cnt,NaN,NaN
20,AS1_18_BIOCHEM,HOMA_IR,HOMA_IR,cnt,NaN,o
21,AS1_19_ANTHRO,허리둘레,WAIST_AVG,cnt,NaN,o
22,AS1_19_ANTHRO,BMI,BMI,cnt,NaN,o
23,경훈,KHEI (90),KHEI90,cnt,NaN,NaN
24,경훈,AMED,AMED,cnt,NaN,NaN
25,경훈,aMED without alcohol scoring,AMED_NONALC,cnt,NaN,NaN
26,경훈,DASH,DASH,cnt,NaN,NaN
27,경훈,PRAL,PRAL,cnt,NaN,NaN
28,경훈,NEAP,NEAP,cnt,NaN,NaN
29,경훈,DII,DII,cnt,NaN,NaN

## Data Engineering

- 결측값
- 새로운 변수 가공
- 스케일링?

In [44]:
result = pd.DataFrame(index=AS1_01_EXAMINEE.index)

### Imputation

해야할 일

- 77777 -> 0 또는 특정 값
- 99999 -> NaN

In [45]:
AS1_01_EXAMINEE.replace(99999, np.nan, inplace=True)
AS1_02_GEN.replace(99999, np.nan, inplace=True)
AS1_03_DRSM.replace(99999, np.nan, inplace=True)
AS1_04_ACTIVE.replace(99999, np.nan, inplace=True)
AS1_05_MEDIC.replace(99999, np.nan, inplace=True)
AS1_06_DISEASE.replace(99999, np.nan, inplace=True)
AS1_07_TREAT.replace(99999, np.nan, inplace=True)
AS1_08_DRUG.replace(99999, np.nan, inplace=True)
AS1_13_SLEEP.replace(99999, np.nan, inplace=True)
AS1_16_DIET.replace(99999, np.nan, inplace=True)
AS1_17_FFQWEIGHT.replace(99999, np.nan, inplace=True)
AS1_18_BIOCHEM.replace(99999, np.nan, inplace=True)
AS1_19_ANTHRO.replace(99999, np.nan, inplace=True)

In [46]:
print(f"""
{AS1_01_EXAMINEE.isna().sum()}
{AS1_02_GEN.isna().sum()}
{AS1_03_DRSM.isna().sum()}
{AS1_04_ACTIVE.isna().sum()}
{AS1_05_MEDIC.isna().sum()}
{AS1_06_DISEASE.isna().sum()}
{AS1_07_TREAT.isna().sum()}
{AS1_08_DRUG.isna().sum()}
{AS1_13_SLEEP.isna().sum()}
{AS1_16_DIET.isna().sum()}
{AS1_17_FFQWEIGHT.isna().sum()}
{AS1_18_BIOCHEM.isna().sum()}
{AS1_19_ANTHRO.isna().sum()}
""")

AS1_AREA      0
AS1_EDATE1    0
AS1_SEX       0
AS1_AGE       0
dtype: int64
AS1_FAMNUM         9
AS1_HAND          14
AS1_SEAS          74
AS1_MARRYA        38
AS1_MARRYAETC      0
AS1_RELIG         23
AS1_RELIGETC       0
AS1_RELIGPRT      85
AS1_JOBB          40
AS1_EDUA          53
AS1_RSDYR         35
AS1_HOUSETY       13
AS1_HOUSEPS       48
AS1_INCOME       133
dtype: int64
AS1_DRINK          37
AS1_DRDUA         155
AS1_DRQMO         142
AS1_TAK           104
AS1_TAKFQA        122
AS1_TAKAMA        121
AS1_TAKGS         191
AS1_BEER          104
AS1_BEERFQA       129
AS1_BEERAMA       136
AS1_BEERGS        270
AS1_RICE          104
AS1_RICEFQA       105
AS1_RICEAMA       110
AS1_RICEGS        121
AS1_WINE          104
AS1_WINEFQA       114
AS1_WINEAMA       114
AS1_WINEGS        146
AS1_SOJU          104
AS1_SOJUFQA       155
AS1_SOJUAMA       176
AS1_SOJUGS        487
AS1_HLIQ          104
AS1_HLIQFQA       110
AS1_HLIQAMA       113
AS1_HLIQGS        129
AS1_TOTALC        223
AS1_SMOKEA         84
AS1_HVSMAM        140
AS1_HVSMDU        177
AS1_HVSMDUMO      177
AS1_PSTSMSTOP     133
AS1_PSTSMYR       124
AS1_PSTSMMO       124
AS1_PSTSMAM       132
AS1_PACKYR        237
AS1_PSM           746
AS1_PSMH         2071
AS1_PSMHFQA       933
AS1_PSMHMIN      1048
AS1_PSMOFQA       941
AS1_PSMOMIN       993
dtype: int64
AS1_PHYSTB        99
AS1_PHYSIT       117
AS1_PHYACTL      130
AS1_PHYACTM      195
AS1_PHYACTH      156
AS1_AEROBFQ     9522
AS1_AEROBAM     9527
AS1_JOGFQ       9232
AS1_JOGAM       9233
AS1_SWIMFQ      9304
AS1_SWIMAM      9307
AS1_TENIFQ      9546
AS1_TENIAM      9546
AS1_GOLFFQ      9493
AS1_GOLFAM      9493
AS1_BOWLFQ      9579
AS1_BOWLAM      9579
AS1_HEALTHFQ    9357
AS1_HEALTHAM    9357
AS1_WALKFQ      8797
AS1_WALKAM      8803
AS1_CLIMBFQ     8857
AS1_CLIMBAM     8865
dtype: int64
AS1_INSUR           21
AS1_HEALTH          28
AS1_VISITHOSP      513
AS1_GLASSES         71
AS1_GLSCS1         336
AS1_GLSCS2         335
AS1_ACST           122
AS1_WAFQINC         48
AS1_URINFQINC       65
AS1_TIED            99
AS1_WGTINC        1247
AS1_MEDCST          52
AS1_HTFDCST         51
AS1_ACC             58
AS1_ACCFQ          131
AS1_ACCHOSP        135
AS1_ACCHOSPMO      179
AS1_ACCHOSPWK      179
AS1_ACCHOSPDAY     179
AS1_TOOTH           70
AS1_ARTTOOTH       128
AS1_BACKBND        262
dtype: int64
AS1_PDHT           1
AS1_PDHTAG        48
AS1_PDDM           1
AS1_PDDMAG        20
AS1_PDUL           1
AS1_PDULAG        79
AS1_PDAL           1
AS1_PDALAG        56
AS1_PDMI           1
AS1_PDMIAG        10
AS1_PDTH           1
AS1_PDTHAG         7
AS1_PDCH           1
AS1_PDCHAG         6
AS1_PDCD           1
AS1_PDCDAG         5
AS1_PDLP           1
AS1_PDLPAG         6
AS1_PDAS           1
AS1_PDASAG        11
AS1_PDCL           1
AS1_PDCLAG         8
AS1_PDPV           1
AS1_PDPVAG         5
AS1_PDKD           1
AS1_PDKDAG        15
AS1_PDTOTCA1       0
AS1_PDTOTCA1NA     0
AS1_PDTOTCA1AG     3
AS1_PDCV           1
AS1_PDCVAG         4
AS1_PDHN           1
AS1_PDHNAG         2
AS1_PDUT           1
AS1_PDUTAG         4
AS1_PDGT           1
AS1_PDGTAG        11
dtype: int64
AS1_TRTHT          5060
AS1_TRTDM          5191
AS1_TRTUL          5151
AS1_TRTAL          5228
AS1_TRTMI          5228
AS1_TRTTH          5219
AS1_TRTCH          5228
AS1_TRTCD          5228
AS1_TRTLP          5225
AS1_TRTAS          5223
AS1_TRTCL          5228
AS1_TRTPV          5228
AS1_TRTKD          5228
AS1_TRTTOTCA1      5228
AS1_TRTTOTCA1NA       0
AS1_TRTCV          5224
AS1_TRTHN          5228
AS1_TRTUT          5228
AS1_TRTAR          5169
AS1_TRTGT          5228
dtype: int64
AS1_DRUG         436
AS1_DRUGST       478
AS1_DRUGSTYR1    480
AS1_DRUGSTCU     481
AS1_DRUGSTYR2    481
                ...
AS1_DRUGASYR2    488
AS1_DRUGLP       478
AS1_DRUGLPYR1    479
AS1_DRUGLPCU     479
AS1_DRUGLPYR2    482
Length: 69, dtype: int64
AS1_INSM              77
AS1_SLPHRD            78
AS1_SLPHRDFQ         102
AS1_RESLPHRD          58
AS1_RESLPHRDFQ       101
                    ...
AS1_SLPYDRV         1658
AS1_SLPYDRVFQ       1726
AS1_DRVYR           2310
AS1_SLPYDRVACD      1782
AS1_SLPYDRVACDFQ    1787
Length: 88, dtype: int64
AS1_CKSTEAM        97
AS1_CKROAST        88
AS1_CKFRI         120
AS1_CKSSN         101
AS1_CKSOUP         56
AS1_CKOIL         814
AS1_CKOILETC        0
AS1_SPCOIL        121
AS1_SPCOILETC       0
AS1_RGMEALFQA      63
AS1_BEMEALFQA    3389
AS1_SKPMEAL      7671
AS1_EATOUTFQ      264
AS1_ALNMEALFQ      94
AS1_SOUPEAT        35
AS1_RGNETR        111
AS1_FRFSWT         39
AS1_FRFSLT         36
AS1_FRFSPCY        41
AS1_FRFSOUR        51
AS1_FRFOILY        37
dtype: int64
AS1_W001    3
AS1_W002    3
AS1_W003    3
AS1_W004    3
AS1_W005    3
           ..
AS1_W099    3
AS1_W100    3
AS1_W101    3
AS1_W102    3
AS1_W103    3
Length: 103, dtype: int64
AS1_GLU0_ORI       280
AS1_GLU0_TR        280
AS1_GLU60_ORI      489
AS1_GLU60_TR       489
AS1_GLU120_ORI     485
                  ...
AS1_FREET4        9240
AS1_TSH           9240
AS1_CD            9174
AS1_PB            9174
AS1_AL            9176
Length: 78, dtype: int64
AS1_CUFFSIZE     13
AS1_BPSITL        9
AS1_BPSITR        6
AS1_BPSIT1LS      9
AS1_BPSIT1LD      9
AS1_BPSIT1RS      9
AS1_BPSIT1RD      9
AS1_BPSITARM      8
AS1_PLLIE1       15
AS1_BPLIE1S      26
AS1_BPLIE1D      26
AS1_PLLIE2       15
AS1_BPLIE2S      36
AS1_BPLIE2D      36
AS1_PLLIE3       18
AS1_BPLIE3S      38
AS1_BPLIE3D      38
AS1_BPSTD1S      13
AS1_BPSTD1D      13
AS1_BPSTD2S       5
AS1_BPSTD2D       5
AS1_WAIST1        8
AS1_WAIST2        8
AS1_WAIST3        8
AS1_HIP1         12
AS1_HIP2         12
AS1_HIP3         12
AS1_SUB1         42
AS1_SUB2         57
AS1_SUB3         60
AS1_SUP1        691
AS1_SUP2        702
AS1_SUP3        705
AS1_HEIGHT        0
AS1_WEIGHT        4
AS1_DS          473
AS1_DT          473
AS1_DZ          473
AS1_MS          426
AS1_MT          424
AS1_MZ          424
AS1_BDCINWT      78
AS1_BDCWT        78
AS1_BDCMSC       78
AS1_BDCEXFT      78
AS1_BDCOTWT      78
AS1_BDCPRT       78
AS1_BDCMN        78
AS1_BDCFT        78
AS1_BDFTR        78
AS1_ABFTR        78
AS1_BMI          78
AS1_OBDG         78
dtype: int64

In [47]:
# 딕셔너리 초기화
result_dict = {}

# 테이블명을 키로, 변수명 변환을 값으로 딕셔너리 생성
for i, row in VAR_DF.iterrows():
   table_name = row['테이블명']
   var_trans = row['변수명 변환']
   if table_name not in result_dict:
       result_dict[table_name] = [var_trans]
   else:
       result_dict[table_name].append(var_trans)

print(result_dict)

{'AS1_01_EXAMINEE': ['AS1_SEX', 'AS1_AGE'], 'AS1_02_GEN': ['AS1_MARRYA', 'AS1_JOBB', 'AS1_EDUA', 'AS1_INCOME'], 'AS1_03_DRSM': ['AS1_DRINK', 'AS1_TOTALC', 'AS1_SMOKEA', 'AS1_HVSMAM'], 'AS1_04_ACTIVE': ['AS1_PHYACTL', 'AS1_PHYACTM', 'AS1_PHYACTH'], 'AS1_05_MEDIC': ['AS1_HEALTH', 'AS1_TIED'], 'AS1_06_DISEASE': ['HAS_HYPERTENSION', 'HAS_DIABETES', 'HAS_HYPERLIPIDEMI'], 'AS1_13_SLEEP': ['AS1_SLPAMSF'], 'AS1_16_DIET': ['AS1_RGMEALFQA'], 'AS1_18_BIOCHEM': ['HOMA_IR'], 'AS1_19_ANTHRO': ['WAIST_AVG', 'BMI'], '경훈': ['KHEI90', 'AMED', 'AMED_NONALC', 'DASH', 'PRAL', 'NEAP', 'DII']}

In [48]:
result = pd.concat([AS1_01_EXAMINEE[["AS1_SEX", "AS1_AGE"]],
                    AS1_02_GEN[["AS1_MARRYA", "AS1_JOBB", "AS1_EDUA", "AS1_INCOME"]],
                    AS1_03_DRSM[['AS1_DRINK', 'AS1_SMOKEA', 'AS1_HVSMAM']], # 'AS1_TOTALC'를 GH에서 불러옴
                    AS1_04_ACTIVE[['AS1_PHYACTL', 'AS1_PHYACTM', 'AS1_PHYACTH']],
                    AS1_05_MEDIC[['AS1_HEALTH', 'AS1_TIED']],
                    AS1_13_SLEEP[['AS1_SLPAMSF']],
                    AS1_16_DIET[['AS1_RGMEALFQA']],
                    GH[['AS1_TOTALC', 'KHEI90', 'AMED', 'AMED_NONALC', 'DASH', 'PRAL', 'NEAP', 'DII']]],
                    axis=1)

#### 77777

In [49]:
count_77777 = (result == 77777).sum()

print(count_77777)

AS1_SEX             0
AS1_AGE             0
AS1_MARRYA          0
AS1_JOBB            0
AS1_EDUA            0
AS1_INCOME          0
AS1_DRINK           0
AS1_SMOKEA          0
AS1_HVSMAM       7096
AS1_PHYACTL         0
AS1_PHYACTM         0
AS1_PHYACTH         0
AS1_HEALTH          0
AS1_TIED            0
AS1_SLPAMSF         0
AS1_RGMEALFQA       0
AS1_TOTALC          0
KHEI90              0
AMED                0
AMED_NONALC         0
DASH                0
PRAL                0
NEAP                0
DII                 0
dtype: int64

In [50]:
result['AS1_HVSMAM'].replace(77777, 0, inplace=True)

C:\Users\sh22h\AppData\Local\Temp\ipykernel_50424\2240191053.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  result['AS1_HVSMAM'].replace(77777, 0, inplace=True)

#### 99999

In [51]:
missing_values_per_row = result.isna().sum(axis=1)[lambda x: x > 0]
missing_values_per_row

DIST_ID
NIH23B1110112    1
NIH23B1250466    1
NIH23B1533757    1
NIH23B1433593    1
NIH23B1997664    2
                ..
NIH23B1988201    2
NIH23B1647458    1
NIH23B1095462    1
NIH23B1619896    1
NIH23B1483303    1
Length: 769, dtype: int64

In [53]:
count_nul = result.isna().sum()[lambda x: x > 0]

In [ ]:
count_nul

```
AS1_MARRYA        38
AS1_JOBB          40
AS1_EDUA          53
AS1_INCOME       133
AS1_DRINK         37
AS1_SMOKEA        84
AS1_HVSMAM       140
AS1_PHYACTL      130
AS1_PHYACTM      195
AS1_PHYACTH      156
AS1_HEALTH        28
AS1_TIED          99
AS1_SLPAMSF       50
AS1_RGMEALFQA     63
```

- AS1_MARRYA 결혼여부
    - 6: 기타
    - 6이거나 99999인 사람이 정상적인 결혼생활일까?
    - AS1_MARRYAETC을 보면 부인 가출, 행방불명, 동거 이렇게 되어있다.
    - 1(미혼) 또는 4(별거)로 대치
- AS1_JOBB 직업종류
    - 이건 어떻게 해야하나
- AS1_EDUA 교육수준
    - 이건 어떻게 해야하나
- AS1_INCOME 월평균수입
    - 이건 직업종류, 교육수준과 관련 있지 않을까
    - AS1_JOBB, AS1_EDUA 별로 평균으로 대치
- AS1_DRINK 음주여부
    - ~~없는 거 보니 totalc / GH에서 걸러질 듯~~
    - ?
- AS1_SMOKEA 흡연여부, AS1_HVSMAM 하루 흡연량
    - 이건 어떻게 해야하나
    - AS1_SMOKEA가 결측이면 AS1_HVSMAM도 결측
    - AS1_HVSMAM이 결측이면 AS1_SMOKEA가 2, 3 또는 99999
    - AS1_SMOKEA가 2의 평균, 3의 평균으로 대치
- AS1_PHYACTL, AS1_PHYACTM, AS1_PHYACTH
    - 이건 어떻게 해야하나
- AS1_HEALTH 전반적인 건강상태
    - 이건 어떻게 해야하나
- AS1_TIED 최근 피곤한지
    - 이건 어떻게 해야하나
- AS1_SLPAMSF 수면시간 충분한지
    - 이건 어떻게 해야하나
- AS1_RGMEALFQA 하루 정규식사 횟수
    - 대충 3끼 먹는다고 가정

-----

- 결측값 있는 놈 없애볼까?
    - ~~GH에서 뺴면 얼마나 결측값이 사라지는지 관측해야할듯~~
        - 이미 GH로 뺸거임...
    - 결측값 있는 행 중에 심뇌혈관질환이 없다면?
        - 결측값 있는 행 1028
        - 심뇌혈관질환 있는 행 36
        - 전체 0    9726
        - 전체 1     301

In [55]:
len(result)

9622

### Data 가공하기

- 고혈압여부: HAS_HYPERTENSION
- 당뇨여부: HAS_DIABETES
- 고지혈증: HAS_HYPERLIPIDEMI
- LDL: LDL
- H0MA_IR: H0MA_IR
- 허리둘레: WAIST_AVG
- BMI: BMI

In [56]:
processed_df = pd.DataFrame(index=AS1_01_EXAMINEE.index)
processed_df.head()

Empty DataFrame
Columns: []
Index: [NIH23B1298125, NIH23B1159376, NIH23B1785393, NIH23B1463054, NIH23B1751168]

#### 고혈압여부: HAS_HYPERTENSION
> pdht == 2 or drughtcu == 2 or 3회평균_sys >= 140 or 3회평균_dia >=90

In [57]:
pdht = AS1_06_DISEASE[["AS1_PDHT"]]
drughtcu = AS1_08_DRUG[['AS1_DRUGHTCU']]
sys = AS1_19_ANTHRO[['AS1_BPLIE1S', 'AS1_BPLIE2S', 'AS1_BPLIE3S']].mean(axis=1)
dia = AS1_19_ANTHRO[['AS1_BPLIE1D', 'AS1_BPLIE2D', 'AS1_BPLIE3D']].mean(axis=1)

df = pd.concat([pdht, drughtcu], axis=1)
df["AS1_AVG_SYS"] = sys
df["AS1_AVG_DIA"] = dia
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9622 entries, NIH23B1298125 to NIH23B1160138
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   AS1_PDHT      9621 non-null   float64
 1   AS1_DRUGHTCU  9115 non-null   float64
 2   AS1_AVG_SYS   9612 non-null   float64
 3   AS1_AVG_DIA   9612 non-null   float64
dtypes: float64(4)
memory usage: 375.9+ KB

In [58]:
df["AS1_DRUGHTCU"].value_counts()

AS1_DRUGHTCU
77777.0    8003
2.0        1043
1.0          69
Name: count, dtype: int64

In [59]:
conditions = (
    (df['AS1_PDHT'] == 2) | 
    (df['AS1_DRUGHTCU'] == 2) | 
    (df['AS1_AVG_SYS'] >= 140) | 
    (df['AS1_AVG_DIA'] >= 90)
)

# df['HAS_HYPERTENSION'] = np.where(conditions, 1, 0)
processed_df['HAS_HYPERTENSION'] = conditions.astype(int)

In [60]:
processed_df['HAS_HYPERTENSION'].value_counts()

HAS_HYPERTENSION
0    7192
1    2430
Name: count, dtype: int64

#### 당뇨여부

> pddm == 2 or druginscu == 2 or glu0 >= 126 or hba1c >= 6.5 or glu120 >= 200

In [61]:
pddm = AS1_06_DISEASE[["AS1_PDDM"]]
druginscu = AS1_08_DRUG[['AS1_DRUGINSCU']]
glu0 = AS1_18_BIOCHEM[['AS1_GLU0_TR']]
glu120 = AS1_18_BIOCHEM[['AS1_GLU120_TR']]
hba1c = AS1_18_BIOCHEM[['AS1_HBA1C']]

df = pd.concat([pddm, druginscu, glu0, glu120, hba1c], axis=1)

In [62]:
conditions = (
    (df['AS1_PDDM'] == 2) | 
    (df['AS1_DRUGINSCU'] == 2) | 
    (df['AS1_GLU0_TR'] >= 126) | 
    (df['AS1_GLU120_TR'] >= 200) |
    (df['AS1_HBA1C'] >= 6.5)
)

processed_df['HAS_DIABETES'] = conditions.astype(int)

In [63]:
processed_df['HAS_DIABETES'].value_counts()

HAS_DIABETES
0    8237
1    1385
Name: count, dtype: int64

#### 고지혈증
> tchl >= 240 or LDL >= 160 or TG >= 200 or HDL < 40

- 현대인은 모두 고지혈증인가? 어떻게 2가 없지

In [64]:
pdlp = AS1_06_DISEASE[["AS1_PDLP"]]
drugslcu = AS1_08_DRUG[['AS1_DRUGSLCU']]
tchl = AS1_18_BIOCHEM[['AS1_TCHL_TR']]
hdl = AS1_18_BIOCHEM[['AS1_HDL_TR']]
tg = AS1_18_BIOCHEM[['AS1_TG_TR']]

cholesterol_df = pd.concat([pdlp, drugslcu, tchl, hdl, tg], axis=1)
cholesterol_df['AS1_LDL_TR'] = cholesterol_df['AS1_TCHL_TR'] - cholesterol_df['AS1_HDL_TR'] - cholesterol_df['AS1_TG_TR'] / 5

In [65]:
cholesterol_df['AS1_TG_TR']/5

DIST_ID
NIH23B1298125    39.6
NIH23B1159376    62.0
NIH23B1785393    66.8
NIH23B1463054    21.0
NIH23B1751168    19.0
                 ...
NIH23B1761277    22.2
NIH23B1751514    22.8
NIH23B1102799    46.4
NIH23B1964351    39.8
NIH23B1160138    38.4
Name: AS1_TG_TR, Length: 9622, dtype: float64

In [66]:
cholesterol_df.head()

,AS1_PDLP,AS1_DRUGSLCU,AS1_TCHL_TR,AS1_HDL_TR,AS1_TG_TR,AS1_LDL_TR
DIST_ID,,,,,,
NIH23B1298125,1.0,77777.0,159.0,36.0,198.0,83.4
NIH23B1159376,1.0,NaN,156.0,30.0,310.0,64.0
NIH23B1785393,1.0,77777.0,161.0,44.0,334.0,50.2
NIH23B1463054,1.0,77777.0,161.0,40.0,105.0,100.0
NIH23B1751168,1.0,NaN,151.0,44.0,95.0,88.0

In [67]:
conditions = (
    (cholesterol_df['AS1_PDLP'] == 2) | 
    (cholesterol_df['AS1_DRUGSLCU'] == 2) | 
    (cholesterol_df['AS1_TCHL_TR'] >= 240) | 
    (cholesterol_df['AS1_LDL_TR'] >= 160) |
    (cholesterol_df['AS1_TG_TR'] >= 200) |
    (cholesterol_df['AS1_HDL_TR']) < 40
)

processed_df['HAS_HYPERLIPIDEMI'] = conditions.astype(int)

In [68]:
processed_df['HAS_HYPERLIPIDEMI'].value_counts()

HAS_HYPERLIPIDEMI
1    9622
Name: count, dtype: int64

#### HOMA_IR, 허리둘레, BMI
> HOMA_IR=fasting glucose (mg/dL) X fasting insulin (mU/L) / 405

- AS1_Glu0_TR: mg/dL
- AS1_Ins0: µIU/㎖

- AS1_INS0 µIU/㎖ == uU/mL == mU/L
    - µ == u // 일부 이렇게 표시하는 사람 있음
    - IU == U // 같은 거임
    - 둘은 같다. 근거: https://www.quora.com/Any-one-can-help-how-I-can-convert-between-uU-ml-to-mcunit-ml-for-insulin-measuring-to-use-it-in-HOMA-IR-calculation

In [69]:
# HOMA-IR
processed_df['HOMA_IR'] = (AS1_18_BIOCHEM['AS1_GLU0_TR'] * AS1_18_BIOCHEM['AS1_INS0']) / 405

In [70]:
pd.options.display.max_rows = None
print(len(df[AS1_18_BIOCHEM['AS1_GLU0_TR'] == 99999]))
print(len(df[AS1_18_BIOCHEM['AS1_INS0'] == 99999]))

0
0

In [71]:
# 허리둘레

processed_df['WAIST_AVG'] = AS1_19_ANTHRO[['AS1_WAIST1', 'AS1_WAIST2', 'AS1_WAIST3']].mean(axis=1)

In [72]:
# BMI

processed_df['BMI'] = ((AS1_19_ANTHRO['AS1_HEIGHT'] / 100) ** 2) * AS1_19_ANTHRO['AS1_WEIGHT']

In [73]:
processed_df['HOMA_IR'].describe()

count    9342.000000
mean        1.667727
std         1.264024
min         0.016543
25%         1.046914
50%         1.453827
75%         2.044938
max        53.906667
Name: HOMA_IR, dtype: float64

#### remnant cholesterol
remnant cholesterol = total cholesterol – high-density lipoprotein (HDL) cholesterol – LDL-C

In [74]:
cholesterol_df.head()

,AS1_PDLP,AS1_DRUGSLCU,AS1_TCHL_TR,AS1_HDL_TR,AS1_TG_TR,AS1_LDL_TR
DIST_ID,,,,,,
NIH23B1298125,1.0,77777.0,159.0,36.0,198.0,83.4
NIH23B1159376,1.0,NaN,156.0,30.0,310.0,64.0
NIH23B1785393,1.0,77777.0,161.0,44.0,334.0,50.2
NIH23B1463054,1.0,77777.0,161.0,40.0,105.0,100.0
NIH23B1751168,1.0,NaN,151.0,44.0,95.0,88.0

In [75]:
processed_df['RC'] = cholesterol_df["AS1_TCHL_TR"] - cholesterol_df["AS1_HDL_TR"] - cholesterol_df["AS1_LDL_TR"]

In [76]:
processed_df['RC'].describe()

count    9619.000000
mean       32.428860
std        20.959599
min         6.400000
25%        20.000000
50%        27.000000
75%        38.200000
max       311.400000
Name: RC, dtype: float64

#### 동맥경화지수(Atherogenic Index, AI)

- Fiordaliso의 계산법(Shin et al., 2010)
- AI = ([총콜레스테롤]-[HDL콜레스테롤]/ [HDL콜레스테롤)

In [77]:
processed_df['AI'] = (cholesterol_df["AS1_TCHL_TR"] - cholesterol_df["AS1_HDL_TR"]) / cholesterol_df["AS1_HDL_TR"]

In [78]:
processed_df['AI'].describe()

count    9620.000000
mean        3.456762
std         1.132368
min        -0.200000
25%         2.631377
50%         3.357143
75%         4.170343
max        10.875000
Name: AI, dtype: float64

## 결과

In [79]:
result_df = pd.concat([result, processed_df], axis=1)

In [80]:
result_df.head()

,AS1_SEX,AS1_AGE,AS1_MARRYA,AS1_JOBB,AS1_EDUA,AS1_INCOME,AS1_DRINK,AS1_SMOKEA,AS1_HVSMAM,AS1_PHYACTL,...,NEAP,DII,HAS_HYPERTENSION,HAS_DIABETES,HAS_HYPERLIPIDEMI,HOMA_IR,WAIST_AVG,BMI,RC,AI
DIST_ID,,,,,,,,,,,,,,,,,,,,,
NIH23B1298125,1,53,2.0,2.0,3.0,5.0,3.0,1.0,0.0,1.0,...,25.068314,2.062933,1,1,1,2.721235,91.933333,200.954880,39.6,3.416667
NIH23B1159376,2,44,2.0,5.0,1.0,2.0,1.0,0.0,0.0,7.0,...,20.677190,2.699810,0,0,1,0.306667,87.066667,135.594778,62.0,4.200000
NIH23B1785393,1,47,2.0,3.0,1.0,2.0,3.0,3.0,8.0,2.0,...,42.987319,1.297841,0,0,1,0.911111,80.333333,170.473543,66.8,2.659091
NIH23B1463054,2,43,2.0,3.0,1.0,2.0,3.0,0.0,0.0,2.0,...,43.921116,1.274731,0,0,1,1.274074,98.500000,170.236012,21.0,3.025000
NIH23B1751168,1,61,2.0,3.0,3.0,1.0,3.0,3.0,20.0,0.0,...,28.310385,1.615857,0,0,1,0.380247,80.666667,159.671232,19.0,2.431818

# 테스트

In [86]:
y_all = pd.read_csv("Dataset\y_all.csv", index_col=0)

In [113]:
y_all['CVD'].value_counts()

CVD
0    9726
1     301
Name: count, dtype: int64

In [87]:
y_all.head()

,AS1_PDMI,AS1_PDCH,AS1_PDCD,AS1_PDCV,AS1_TRTMI,AS1_TRTCH,AS1_TRTCD,AS1_TRTCV,AS1_DRUGSTKCU,CVD
DIST_ID,,,,,,,,,,
NIH23B1298125,1,1,1,1,1,1,1,1,77777,0
NIH23B1159376,1,1,1,1,99999,99999,99999,99999,99999,0
NIH23B1785393,1,1,1,1,99999,99999,99999,99999,77777,0
NIH23B1463054,1,1,1,1,1,1,1,1,77777,0
NIH23B1751168,1,1,1,1,99999,99999,99999,99999,99999,0

In [88]:
result_df.head()

,AS1_SEX,AS1_AGE,AS1_MARRYA,AS1_JOBB,AS1_EDUA,AS1_INCOME,AS1_DRINK,AS1_SMOKEA,AS1_HVSMAM,AS1_PHYACTL,...,NEAP,DII,HAS_HYPERTENSION,HAS_DIABETES,HAS_HYPERLIPIDEMI,HOMA_IR,WAIST_AVG,BMI,RC,AI
DIST_ID,,,,,,,,,,,,,,,,,,,,,
NIH23B1298125,1,53,2.0,2.0,3.0,5.0,3.0,1.0,0.0,1.0,...,25.068314,2.062933,1,1,1,2.721235,91.933333,200.954880,39.6,3.416667
NIH23B1159376,2,44,2.0,5.0,1.0,2.0,1.0,0.0,0.0,7.0,...,20.677190,2.699810,0,0,1,0.306667,87.066667,135.594778,62.0,4.200000
NIH23B1785393,1,47,2.0,3.0,1.0,2.0,3.0,3.0,8.0,2.0,...,42.987319,1.297841,0,0,1,0.911111,80.333333,170.473543,66.8,2.659091
NIH23B1463054,2,43,2.0,3.0,1.0,2.0,3.0,0.0,0.0,2.0,...,43.921116,1.274731,0,0,1,1.274074,98.500000,170.236012,21.0,3.025000
NIH23B1751168,1,61,2.0,3.0,3.0,1.0,3.0,3.0,20.0,0.0,...,28.310385,1.615857,0,0,1,0.380247,80.666667,159.671232,19.0,2.431818

In [90]:
print(len(result_df), len(y_all))

9622 10027

In [91]:
temp = pd.concat([result_df, y_all['CVD']], axis=1, join='inner')
temp.head()

,AS1_SEX,AS1_AGE,AS1_MARRYA,AS1_JOBB,AS1_EDUA,AS1_INCOME,AS1_DRINK,AS1_SMOKEA,AS1_HVSMAM,AS1_PHYACTL,...,DII,HAS_HYPERTENSION,HAS_DIABETES,HAS_HYPERLIPIDEMI,HOMA_IR,WAIST_AVG,BMI,RC,AI,CVD
DIST_ID,,,,,,,,,,,,,,,,,,,,,
NIH23B1298125,1,53,2.0,2.0,3.0,5.0,3.0,1.0,0.0,1.0,...,2.062933,1,1,1,2.721235,91.933333,200.954880,39.6,3.416667,0
NIH23B1159376,2,44,2.0,5.0,1.0,2.0,1.0,0.0,0.0,7.0,...,2.699810,0,0,1,0.306667,87.066667,135.594778,62.0,4.200000,0
NIH23B1785393,1,47,2.0,3.0,1.0,2.0,3.0,3.0,8.0,2.0,...,1.297841,0,0,1,0.911111,80.333333,170.473543,66.8,2.659091,0
NIH23B1463054,2,43,2.0,3.0,1.0,2.0,3.0,0.0,0.0,2.0,...,1.274731,0,0,1,1.274074,98.500000,170.236012,21.0,3.025000,0
NIH23B1751168,1,61,2.0,3.0,3.0,1.0,3.0,3.0,20.0,0.0,...,1.615857,0,0,1,0.380247,80.666667,159.671232,19.0,2.431818,0

In [102]:
# 결측값이 하나라도 있는 행 찾기
cvd_df = temp[temp.isna().any(axis=1)].copy()

# 각 행의 결측값의 수, 'CVD' 칼럼의 값을 데이터프레임으로 만들기
cvd_df['Missing_Values_Count'] = cvd_df.isna().sum(axis=1)
cvd_df = cvd_df[['Missing_Values_Count', 'CVD']]

In [103]:
len(cvd_df)

1028

In [104]:
cvd_df.value_counts()

Missing_Values_Count  CVD
1                     0      731
2                     0      143
3                     0       67
1                     1       26
5                     0       20
4                     0       18
6                     0        7
3                     1        5
2                     1        3
8                     0        3
4                     1        1
7                     0        1
                      1        1
10                    0        1
12                    0        1
Name: count, dtype: int64

In [110]:
mask_indices = cvd_df[cvd_df['CVD'] == 1].index
temp_filtered = temp.loc[mask_indices]

In [111]:
temp_filtered

,AS1_SEX,AS1_AGE,AS1_MARRYA,AS1_JOBB,AS1_EDUA,AS1_INCOME,AS1_DRINK,AS1_SMOKEA,AS1_HVSMAM,AS1_PHYACTL,...,DII,HAS_HYPERTENSION,HAS_DIABETES,HAS_HYPERLIPIDEMI,HOMA_IR,WAIST_AVG,BMI,RC,AI,CVD
DIST_ID,,,,,,,,,,,,,,,,,,,,,
NIH23B1687264,2,69,3.0,8.0,1.0,1.0,1.0,0.0,0.0,6.0,...,0.595240,1,1,1,NaN,107.000000,169.548048,30.6,2.750000,1
NIH23B1974134,1,49,6.0,8.0,3.0,1.0,1.0,0.0,0.0,8.0,...,4.059607,0,0,1,2.106667,93.666667,NaN,17.2,2.428571,1
NIH23B1007182,1,59,2.0,NaN,1.0,1.0,1.0,1.0,0.0,4.0,...,2.029818,0,0,1,0.432099,81.666667,161.966940,24.8,4.666667,1
NIH23B1551831,2,62,2.0,3.0,1.0,1.0,1.0,0.0,0.0,NaN,...,3.452998,0,0,1,1.501975,80.866667,130.438000,31.0,3.540541,1
NIH23B1238820,1,69,2.0,3.0,1.0,1.0,3.0,1.0,0.0,3.0,...,3.605162,1,1,1,NaN,85.000000,200.524300,28.8,3.800000,1
NIH23B1555612,2,59,NaN,1.0,1.0,1.0,NaN,0.0,0.0,NaN,...,-0.786758,0,0,1,1.023210,77.666667,110.205900,27.8,3.081633,1
NIH23B1008823,2,46,2.0,3.0,1.0,1.0,1.0,0.0,0.0,NaN,...,3.069585,0,0,1,1.720000,86.666667,152.158500,23.8,3.755556,1
NIH23B1179731,2,55,2.0,3.0,1.0,2.0,1.0,0.0,0.0,NaN,...,1.503825,1,1,1,NaN,98.000000,142.049236,30.0,3.860465,1
NIH23B1872877,2,49,5.0,4.0,1.0,NaN,1.0,0.0,0.0,1.0,...,0.012940,0,0,1,2.551111,97.000000,171.865800,17.6,4.421053,1
NIH23B1257398,2,62,2.0,3.0,1.0,1.0,1.0,0.0,0.0,3.0,...,0.181107,1,0,1,1.343210,85.333333,153.708480,57.0,3.396825,1
NIH23B1633020,1,67,2.0,3.0,1.0,NaN,3.0,0.0,0.0,NaN,...,2.416945,1,1,1,0.231605,88.933333,178.230787,33.6,2.522727,1
NIH23B1220107,2,56,2.0,1.0,1.0,NaN,1.0,NaN,NaN,4.0,...,2.245220,0,0,1,1.223704,77.833333,119.036788,25.4,3.558824,1
NIH23B1045893,1,62,2.0,8.0,1.0,3.0,3.0,3.0,10.0,0.0,...,2.616326,1,1,1,NaN,80.000000,164.937840,35.6,2.413793,1
NIH23B1361018,2,63,2.0,1.0,1.0,3.0,1.0,0.0,0.0,5.0,...,2.621726,1,0,1,0.789630,92.566667,129.978522,33.8,2.756098,1
NIH23B1333534,2,54,2.0,1.0,2.0,1.0,1.0,NaN,NaN,2.0,...,3.169846,1,0,1,NaN,92.966667,133.654495,54.6,6.290323,1
NIH23B1013354,1,52,2.0,8.0,5.0,3.0,2.0,2.0,4.0,2.0,...,1.096015,1,1,1,1.712346,77.000000,229.309701,19.4,1.568182,1
NIH23B1980645,1,53,2.0,3.0,2.0,3.0,1.0,1.0,0.0,2.0,...,2.753285,0,0,1,1.600000,84.000000,161.683452,35.4,5.148148,1
NIH23B1018265,2,69,2.0,8.0,1.0,2.0,1.0,0.0,0.0,3.0,...,2.712207,1,1,1,NaN,108.166667,211.510080,26.8,3.538462,1
NIH23B1081569,2,56,2.0,3.0,1.0,1.0,NaN,0.0,0.0,NaN,...,3.076483,1,1,1,3.999506,99.833333,168.175000,29.2,3.840909,1
NIH23B1624201,1,57,2.0,3.0,1.0,2.0,3.0,3.0,20.0,6.0,...,-2.768890,0,1,1,NaN,98.000000,238.935618,87.2,4.967742,1
NIH23B1002402,2,56,2.0,1.0,1.0,NaN,1.0,0.0,0.0,2.0,...,3.205288,0,0,1,1.521481,86.000000,132.386832,29.8,3.685185,1
NIH23B1267612,1,60,2.0,8.0,3.0,3.0,1.0,0.0,0.0,2.0,...,3.566527,0,0,1,5.427901,92.000000,176.949540,23.2,4.272727,1
NIH23B1598148,1,61,2.0,NaN,3.0,1.0,2.0,1.0,0.0,3.0,...,1.725365,1,1,1,1.742222,91.000000,202.471461,35.4,3.935484,1
NIH23B1510661,2,64,2.0,3.0,1.0,1.0,1.0,0.0,0.0,4.0,...,3.045725,1,1,1,NaN,99.666667,124.059120,37.2,4.285714,1
NIH23B1791500,2,61,2.0,1.0,2.0,1.0,1.0,0.0,0.0,3.0,...,2.995600,1,1,1,NaN,88.000000,149.732605,38.8,5.400000,1
NIH23B1658287,2,64,3.0,1.0,NaN,1.0,1.0,0.0,0.0,8.0,...,4.351677,1,0,1,5.715062,92.666667,105.629731,41.8,4.774194,1
NIH23B1882887,2,62,3.0,1.0,1.0,4.0,1.0,0.0,0.0,2.0,...,3.812185,1,1,1,NaN,93.666667,132.135360,64.0,5.242424,1
NIH23B1947063,2,51,2.0,1.0,1.0,3.0,1.0,0.0,0.0,7.0,...,3.110823,0,1,1,NaN,87.000000,120.472000,25.0,3.354167,1
NIH23B1018418,1,64,2.0,3.0,2.0,1.0,2.0,0.0,0.0,0.0,...,0.909294,1,0,1,NaN,91.000000,175.141866,25.2,3.272727,1
NIH23B1646475,1,57,2.0,3.0,3.0,3.0,2.0,1.0,0.0,2.0,...,2.602113,1,1,1,5.122963,96.000000,222.877147,54.8,4.151515,1
NIH23B1580514,1,50,2.0,3.0,4.0,6.0,3.0,2.0,2.0,2.0,...,0.685301,0,0,1,NaN,83.000000,221.868858,15.2,2.545455,1
NIH23B1216738,1,56,2.0,3.0,5.0,3.0,3.0,3.0,15.0,1.0,...,2.682533,0,1,1,NaN,101.000000,287.209541,37.6,3.975610,1
NIH23B1478816,1,64,2.0,8.0,5.0,5.0,3.0,3.0,4.0,5.0,...,2.592876,0,0,1,NaN,81.000000,180.429549,17.4,4.238095,1
NIH23B1082223,1,46,2.0,7.0,5.0,5.0,3.0,2.0,NaN,1.0,...,1.462834,0,0,1,0.901728,85.333333,178.022880,28.8,3.705882,1
NIH23B1277848,2,57,2.0,1.0,3.0,NaN,1.0,0.0,0.0,3.0,...,2.540685,0,0,1,1.680494,81.000000,164.947185,45.6,3.666667,1
NIH23B1004214,2,53,2.0,8.0,2.0,1.0,1.0,0.0,0.0,8.0,...,-1.661286,0,1,1,1.022222,70.000000,109.299888,14.2,1.948276,1

In [114]:
temp.to_csv("./Dataset/result.csv")