In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import rc

# 기본 글꼴을 NanumGothic으로 변경
rc("font", family="NanumGothic")

AS1_01_EXAMINEE = pd.read_csv("./AS1_01_EXAMINEE.csv", index_col=0)
AS1_03_DRSM = pd.read_csv("./AS1_03_DRSM.csv", index_col=0)
AS1_17_FFQWEIGHT = pd.read_csv("AS1_17_FFQWEIGHT.csv", index_col=0)


df = pd.DataFrame(index=AS1_01_EXAMINEE.index)

In [15]:
AS1_17_FFQWEIGHT.dropna(inplace=True)

In [26]:
AS1_06_DISEASE = pd.read_csv("./AS1_06_DISEASE.csv", index_col=0, encoding='utf-8')
AS1_07_TREAT = pd.read_csv("./AS1_07_TREAT.csv", index_col=0, encoding='utf-8')
AS1_08_DRUG = pd.read_csv("./AS1_08_DRUG.csv", index_col=0, encoding='utf-8')

disease = AS1_06_DISEASE[["AS1_PDMI", "AS1_PDCH", "AS1_PDCD", "AS1_PDCV"]]
treat = AS1_07_TREAT[["AS1_TRTMI", "AS1_TRTCH", "AS1_TRTCD", "AS1_TRTCV"]]
drug = AS1_08_DRUG[['AS1_DRUGSTKCU']]

dependent = pd.concat([disease, treat, drug])
dependent.info()

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xc0 in position 0: invalid start byte

In [25]:
dependent.head()

,AS1_PDMI,AS1_PDCH,AS1_PDCD,AS1_PDCV,AS1_TRTMI,AS1_TRTCH,AS1_TRTCD,AS1_TRTCV,AS1_DRUGSTKCU
DIST_ID,,,,,,,,,
NIH23B1298125,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN
NIH23B1159376,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN
NIH23B1785393,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN
NIH23B1463054,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN
NIH23B1751168,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN

In [10]:
sex_age = AS1_01_EXAMINEE[["AS1_SEX", "AS1_AGE"]]
drink = AS1_03_DRSM[["AS1_DRINK", "AS1_TOTALC"]]

df = pd.concat([df, sex_age, drink, AS1_17_FFQWEIGHT], axis=1)

df.head()

,AS1_SEX,AS1_AGE,AS1_DRINK,AS1_TOTALC,AS1_W001,AS1_W002,AS1_W003,AS1_W004,AS1_W005,AS1_W006,...,AS1_W094,AS1_W095,AS1_W096,AS1_W097,AS1_W098,AS1_W099,AS1_W100,AS1_W101,AS1_W102,AS1_W103
DIST_ID,,,,,,,,,,,,,,,,,,,,,
NIH23B1298125,1,53,3,23.15,220.0,0.0,440.0,1.0,10.0,64.285714,...,0.0,4.0,0.0,16.666667,0.000000,0.000000,0.000000,120.0,0.0,32.142857
NIH23B1159376,2,44,1,77777.00,440.0,0.0,0.0,0.0,4.0,10.000000,...,0.0,0.0,0.0,16.666667,0.578571,1.071429,0.857143,0.0,0.0,0.000000
NIH23B1785393,1,47,3,23.57,660.0,0.0,0.0,0.0,10.0,150.000000,...,0.0,0.0,0.0,0.000000,2.700000,5.000000,0.000000,0.0,0.0,0.000000
NIH23B1463054,2,43,3,0.29,660.0,0.0,0.0,0.0,10.0,150.000000,...,0.0,10.0,0.0,16.666667,2.700000,5.000000,0.000000,0.0,0.0,0.000000
NIH23B1751168,1,61,3,43.41,990.0,0.0,0.0,0.0,0.0,10.000000,...,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10030 entries, NIH23B1298125 to NIH23B1160138
Columns: 107 entries, AS1_SEX to AS1_W103
dtypes: float64(104), int64(3)
memory usage: 8.5+ MB